$tamanho-padrao: 1200px;
$no-list: none;
$white-text: #fff;
.container-centralizado {
	max-width: $tamanho-padrao;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px 0;
}
@mixin lista {
	margin: 10px 0;
	list-style: $no-list;
	padding: 0;
}

body {
	background: #eaeaea;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	color: #5d5d5d;
}
h3 {
	font-size: 1.8em;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center; 
}


.first {
	min-height: 400px;
}
.div-title{
	display: block;
	float: left;
	width: 65%;
	.div-verde {
		min-height: 320px;
		position: absolute;
		width: 60%;
		background: #557f7a;

		h1 {
			text-align: right;
			position: relative;
			top: -30%;
			left: 10%;
			font-weight: 900;
			font-size: 2em;
			color: $white-text;
		}
	}
	.title {
		position: relative;
		top: 150px;
		font-size: 3em;
		left: 25%;
		width: 80%;
		border: 2px solid #eaeaea;
		height: 360px;
		h4 {
			position: relative;
			top: -18%;
			font-size: 0.5em;
			color: $white-text;
		}
	}
}

.menu {
	position: absolute;
	right: 0;
	width: 30%;
	top: 10%;
	ul {
		@include lista;
		li {
			line-height: 50px;
		}
	}
}

.about {
	text-align: center;
}

.section-abilities {
	justify-content: space-between !important;
	.web-developer {
		width:30%;

		img {
			width: 100%;
		}
	}
	.abilities {
		width: 60%;
		span {
			float: right;
		}
		ul {
			@include lista;

			li {
				border-bottom: 1px solid #aeaeae;
				margin-bottom: 45px;
				font-size: 1.2em;
			}
		}
	}
}
.section-formacao {
	div {
		width: 50%;
	}
	.formacao {
		ol {
			@include lista;
			li {
				line-height: 40px;
			}
		}
	}
}

.skills {
	background: #557f7a;
	color: $white-text;

	div {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}
	i {
		font-size: 1.5em;
		color: #fff;
	}
}

@media screen and (max-width: 600px) {
	/* STYLES HERE */
	p {
		font-size: 12px;
	}


	.container-centralizado {
		max-width: 330px;
	}
	.flex-container {
		display:block;
	}
	.first {
		min-height: 180px;
	}
	.div-title {
		.title {
			position: relative;
			top: 80px;
			font-size: 1.8em;
			left: 15%;
			width: 90%;
			border: 2px solid #eaeaea;
			height: 180px;
			h4 {
				top: -25%;
			}
		}
		.div-verde {
			min-height: 180px;
			width: 100%;
			h1 {
				top: -35%;
				left: -10%;
			}
		}
	}
	.section-abilities {
		.web-developer {
			display: none;
		}
		.abilities {
			width: 100%;
			ul {
				li {
					font-size: 0.9em;
				}
			}
		}
	}
	.section-formacao {
		div {
			width: 100%;
		}
	}
	
}